<div id="add-assignment-modal" class="modal fade" role="dialog" aria-labelledby="add-assignment-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Group Role Assignment</h5>
                <button type="button" class="custom-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="add-assignment-form">
                    @await Component.InvokeAsync("AdminUIErrorAlert")

                    <div id="assign-role-select" class="form-group">
                        <label class="control-label">Group Role</label>
                        <select class="form-control select2-container" style="width:100%"></select>
                        <span class="error text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer custom-modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary confirm">Add</button>
            </div>
        </div>
    </div>
</div>