@using SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Views.User.Components.UserMenu
@model SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Models.User.UserCredentialsViewModel

@{
    SidebarSelection.SelectedOption = SidebarOptions.User;
}

@{
    ViewData["Title"] = "Users";
}

@section script {
    <script src="~/identityAdmin/app/user/credentials/SetNewPassword.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $('document').ready(function () {
            new SetNewPassword('@Model.UserId');
        });
    </script>
}



<div id="credentialsContainer">

    @(await Component.InvokeAsync("UserMenu", new { userId = Model.UserId, tabSelected = UserMenuViewComponent.TabSelected.Credentials, userName = Model.UserName }))

    @await Component.InvokeAsync("IdentityStatusAlertJs")

    <div class="tab-content">
        <div class="main-card mb-3 card col-xl-6 offset-xl-3 col-lg-12">
            <div class="card-body">
                <div class="card-title-space">
                    <h5 class="card-title">
                        Password reset
                    </h5>
                </div>
                <div id="resetPasswordForm" class="custom-form">
                    <div id="password" class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" />
                        <span class="error text-danger"></span>
                    </div>
                    <div id="confirmPassword" class="form-group">
                        <label class="control-label">Confirm password</label>
                        <input type="password" class="form-control" />
                        <span class="error text-danger"></span>
                    </div>
                    <div class="button-holder">
                        <button class="btn btn-primary submit custom-submit">Reset password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>