@using SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Views.User.Components.UserMenu
@model SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Models.User.UserRolesViewModel

@{
    SidebarSelection.SelectedOption = SidebarOptions.User;
}

@{
    ViewData["Title"] = "Users";
}

@section script {
    <script src="~/identityAdmin/app/user/roles/UserRoles.js" asp-append-version="true"></script>
    <script>
        $('document').ready(function () {
            new UserRoles('@Model.UserId');
        });
    </script>
}

<div>
    @(await Component.InvokeAsync("UserMenu", new { userId = Model.UserId, tabSelected = UserMenuViewComponent.TabSelected.Roles, userName = Model.UserName }))

    <div id="statusAlert">
        @await Component.InvokeAsync("IdentityStatusAlertJs")
    </div>

    <div class="tab-content">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title-space">
                    <h5 class="card-title">
                        Roles
                    </h5>
                </div>
                <div class="row custom-form">
                    <div id="availableRolesForm" class="col-md-6">
                        <div>
                            <label class="roles-label">Available Roles</label>
                            <select multiple="" class="form-control"></select>
                        </div>
                        <div class="button-holder">
                            <button class="btn btn-primary submit pull-right mt-3">Add Role</button>
                        </div>
                    </div>
                    <div id="assignedRolesForm" class="col-md-6">
                        <div>
                            <label class="roles-label">Assigned Roles</label>
                            <select multiple="" class="form-control"></select>
                        </div>
                        <div class="button-holder">
                            <button class="btn btn-primary submit pull-right mt-3">Remove Role</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>