@using SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Views.User.Components.UserMenu
@model SSRD.IdentityUI.Admin.Areas.IdentityAdmin.Models.User.UserRolesViewModel

@{
    SidebarSelection.SelectedOption = SidebarOptions.User;
}

@{
    ViewData["Title"] = "Users";
}

@section script {
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script type="text/javascript" src="~/adminUI/app/js/components/dot-loader.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/js/components/dragAndDrop/dragAndDrop.js" asp-append-version="true"></script>
    <script src="~/identityAdmin/app/user/roles/UserRoles.js" asp-append-version="true"></script>
    <script>
        $('document').ready(function () {
            new UserRoles('@Model.UserId');
        });
    </script>
}

<div>
    @(await Component.InvokeAsync("UserMenu", new { userId = Model.UserId, tabSelected = UserMenuViewComponent.TabSelected.Roles, userName = Model.UserName }))

    <div class="tab-content">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div class="card-title-space">
                    <h5 class="card-title">
                        Roles
                    </h5>
                </div>
                @await Component.InvokeAsync("DragAndDrop")
            </div>
        </div>
    </div>
</div>