<div class="alert alert-danger mb-3 pl-3 pb-3 pt-3" style="display: none">
    <div class="alert-body" style="width: 80%;display: inline-block;"></div>
    <button type="button" class="close mr-3" aria-hidden="true">&times;</button>
</div>