@{
    SidebarSelection.SelectedOption = SidebarOptions.Dashboard;
}

@{
    ViewData["Title"] = "Dashboard";
}



@section script {
    <script src="~/identityAdmin/app/user/graph/graph.js"></script>
    <script>

        $(document).ready(function () {
            new registarionsGraph();
        });

    </script>
}

@await Component.InvokeAsync("Cards")

<div class="main-card mb-3 card fullWidthCard">
    <div class="card-body">
        <div class="card-title-space">
            <h5 class="card-title">Number of registrations per day</h5>
        </div>
        <div class="graph-holder">
            <div id="chart-apex-area"></div>
        </div>
        <div class="row graph-buttons-row">
            <div class="month-back" id="minus-one"><button type="button"><i class="fas fa-angle-left fa-2x"></i></button></div>
            <div class="month-name"><p class="text-center mb-3 mt-3" id="selected-month"></p></div>
            <div class="month-forward" id="plus-one"><button type="button"><i class="fas fa-angle-right fa-2x"></i></button></div>
        </div>
    </div>
</div>
