@using SSRD.IdentityUI.Account.Areas.Account.Models.Manage.Menu;
@model SSRD.IdentityUI.Account.Areas.Account.Models.Manage.ChangePasswordViewModel

@{
    SidebarSelection.SelectedOption = SidebarOptions.ChangePassword;
}

@section script{
    @if (Model !=null && Model.StatusAlert != null)
    {
    <script>
        $(document).ready(function () {
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
        });
    </script>
    }
}

@if (Model != null && Model.StatusAlert != null)
{
    <div id="snackbar">
        @await Component.InvokeAsync("IdentityStatusAlertRazor", new { Model.StatusAlert })
    </div>
}


<div class="main-card mb-3 col-xl-6 offset-xl-3 col-lg-12 card">
    <div class="card-body">
        <div class="card-title-space">
            <h5 class="card-title">
                Change Password
            </h5>
        </div>
        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="custom-form">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" type="password" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger error-alert-custom"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger error-alert-custom"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger error-alert-custom"></span>
            </div>
            <div class="button-holder">
                <button type="submit" class="btn btn-primary custom-submit">Change</button>
            </div>
        </form>
    </div>
</div>
