@model SSRD.IdentityUI.Account.Areas.Account.Models.Manage.ProfileViewModel;
@using SSRD.IdentityUI.Account.Areas.Account.Models.Manage.Menu;

@{
    SidebarSelection.SelectedOption = SidebarOptions.Profile;
}

@{
    ViewData["Title"] = "Profile";
}

@await Component.InvokeAsync("IdentityStatusAlertRazor", new { Model.StatusAlert })

<div class="main-card mb-3 card col-xl-6 offset-xl-3 col-lg-12">
    <div class="card-body">
        <div class="card-title-space">
            <h5 class="card-title">
                Profile
            </h5>
        </div>
        <form method="post" enctype="multipart/form-data" asp-controller="Manage" asp-action="ProfileImage" class="custom-form">
            <div class="form-group">
                <img id="filePreview" src="@Model.ProfileImage" width="300" />
            </div>
            <div class="form-group">
                <label>Upload file</label>
                <input id="selectFile" class="form-control" name="files" type="file" accept="image/x-png,image/jpeg" required />
            </div>
            <div class="form-group">
                <div class="button-holder">
                    <button type="submit" class="btn btn-primary custom-submit">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="main-card mb-3 card col-xl-6 offset-xl-3 col-lg-12">
    <div class="card-body">
        <div class="card-title-space">
            <h5 class="card-title">
                Profile
            </h5>
        </div>
        <form asp-controller="Manage" asp-action="Profile" method="post" class="custom-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control disabled" disabled />
                <span asp-validation-for="UserName" class="text-danger error-alert-custom"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger error-alert-custom"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger error-alert-custom"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                @if (Model.IsPhoneNumberConfirmed == false)
                {
                <input asp-for="PhoneNumber" class="form-control" />
                }
                else
                {
                <input asp-for="PhoneNumber" class="form-control" disabled />
                }
                <span asp-validation-for="PhoneNumber" class="text-danger error-alert-custom"></span>
            </div>

            <div class="button-holder">
                <button type="submit" class="btn btn-primary custom-submit">Save</button>
            </div>
        </form>
    </div>
</div>


@section script {
<script type="text/javascript">
    $(function () {

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#filePreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#selectFile").change(function () {
            readURL(this);
        });
    });
</script>
}