@using SSRD.IdentityUI.Account.Areas.Account.Models.Manage.Menu;
@model SSRD.IdentityUI.Account.Areas.Account.Models.Manage.TwoFactorAuthenticatorViewModel

@{
    SidebarSelection.SelectedOption = SidebarOptions.TwoFactorAuthenticator;
}

@{
    ViewData["Title"] = "Profile";
}

@section script{
    @if (Model.StatusAlert != null)
    {
        <script>
            $(document).ready(function () {
                var x = document.getElementById("snackbar");
                x.className = "show";
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            });
        </script>
    }
}

@if (Model.StatusAlert != null)
{
    <div id="snackbar">
        @await Component.InvokeAsync("IdentityStatusAlertRazor", new { Model.StatusAlert })
    </div>
}

<div class="main-card mb-3 card col-xl-6 col-lg-12 offset-xl-3">
    <div class="card-body">
        <div class="card-title-space">
            <h5 class="card-title">
                Two Factor Authentication
            </h5>
        </div>
        <div class="custom-form">
            <p><b>Two-factor (2FA) is an additional security layer for your business – helping to address the vulnerabilities of a standard password-only approach. </b></p>
            <p>If you wish to additionally <u>secure your account</u>, click on the button below and follow instructions.</p>
            <a class="btn btn-primary custom-2fa" href="@PagePath.MANAGE_ADD_TWO_FACTOR_AUTHENTICATOR">Set up 2FA</a>
        </div>

        @if (Model.TwoFactorAuthenticationEnabled)
        {
            <div class="card-title-space">
                <h5 class="card-title">
                    Manage your 2FA account:
                </h5>
            </div>
            <div class="mt-3 custom-form custom-spacing">
                <p>Here you can manage your two-factor authentication settings</p>
                <a class="settings-option negative-option" href="@PagePath.MANAGE_DISABLE_TWO_FACTOR_AUTHENTICATOR">Disable</a>
                <hr />
                <a class="settings-option" href="@PagePath.MANAGE_RESET_TWO_FACTOR_AUTHENTICATOR">Reset 2FA</a>
            </div>
        }

    </div>
</div>
