@model SSRD.IdentityUI.Admin.Areas.GroupAdmin.Models.Audit.AuditIndexViewModel

@{ GroupAdminSidebarSelection.SelectedOption = GroupAdminSidebarOptions.Audit; }

@{ ViewData["Title"] = "Audit"; }

<div id="status-alert-container">
    @await Component.InvokeAsync("IdentityStatusAlertJs")
</div>

<div class="tab-content table-card">
    <div class="main-card mb-3 card fullWidthCard">
        <div class="card-body">
            <div class="card-title-space">
                <h5 class="card-title">
                    Audit
                </h5>
                <div id="actions-dropdown" class="dropdown">
                    <button type="button" class="btn btn-secondary header-button header-button-dropdown" data-toggle="dropdown">
                        Action
                        <i class="fas fa-sort-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <button class="dropdown-item reset-filters">Reset all filters</button>
                        <button class="dropdown-item export">Export</button>
                    </div>
                </div>
            </div>
            <!--#region tablefilters-->
            <div id="audit-table-filters" class="row custom_container pb-0 custom-filters">
                <div class="col-2">
                    <div id="page-lenght-select" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Show entries</label>
                        </div>
                        <select class="form-control select2-container custom-select"></select>
                    </div>
                </div>

                <div class="col-3">
                    <div id="object-type" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Object Type</label>

                        </div>
                        <select id="object-type-select" class="form-control select2-container custom-select"></select>
                    </div>
                </div>

                <div class="col-3">
                    <div id="subject-type" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Subject Type</label>

                        </div>
                        <select id="subject-type-select" class="form-control select2-container custom-select"></select>
                    </div>
                </div>

                <div class="col-4">
                    <div id="resource-name" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Resource Name</label>

                        </div>
                        <select id="resource-name-select" class="form-control select2-container custom-select"></select>
                    </div>
                </div>

                <div class="col-2">
                    <div id="action-type" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Action Type</label>

                        </div>
                        <select id="action-type-select" class="form-control select2-container custom-select"></select>
                    </div>
                </div>

                <div class="col-3">
                    <div id="object-identifier" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Object Identifier</label>

                        </div>
                        <select id="object-identifier-select" class="form-control select2-container custom-select" disabled></select>
                    </div>
                </div>

                <div class="col-3">
                    <div id="subject-identifier" class="form-group">
                        <div class="d-flex">
                            <label class="control-label">Subject Identifier</label>

                        </div>
                        <select id="subject-identifier-select" class="form-control select2-container custom-select"></select>
                    </div>
                </div>


                <div id="date-time-range-container" class="col-4">
                    <div class="d-flex">
                        <label class="control-label">Range</label>
                    </div>
                    <div class="input-group height-1">
                        <div class="input-group-prepend">
                            <i class="input-group-text fa fa-calendar height-1 line-height-02 date-time-range-picker"></i>
                        </div>
                        <input type="text" onkeydown="return false" class="form-control height-1 date-time-from-picker" autocomplete="off" />
                        <input type="text" onkeydown="return false" class="form-control height-1 date-time-to-picker" autocomplete="off" />
                    </div>
                </div>

            </div>
            <!--#endregion-->
            <div class="custom_container custom_table pt-0">
                <table id="audit-table" class="dataTableClass display "></table>
            </div>
        </div>
    </div>
</div>


<!--#region details modal-->
<div id="audit-details-modal" class="modal fade bd-example-modal-lg" role="dialog" aria-labelledby="audit-details-modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Audit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body audit-modal-body">
                <div id="invite-user-form">
                    @await Component.InvokeAsync("AdminUIErrorAlert")

                    <div id="audit-details-loader">
                        @await Component.InvokeAsync("AdminUIDotLoader")
                    </div>

                    <div id="audit-data-container">
                        <div class="row">
                            <label class="col-3 font-weight-bold">Action Type: </label>
                            <span class="col-9" id="action-type-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Object Type: </label>
                            <span class="col-9" id="object-type-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Object Identifier: </label>
                            <span class="col-9" id="object-identifier-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Subject Type: </label>
                            <span class="col-9" id="subject-type-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Subject Identifier: </label>
                            <span class="col-9" id="subject-identifier-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Group Identifier: </label>
                            <span class="col-9" id="group-identifier-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Resource Name: </label>
                            <span class="col-9" id="resource-name-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Host: </label>
                            <span class="col-9" id="host-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Remote Ip: </label>
                            <span class="col-9" id="remote-ip-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">User Agent: </label>
                            <span class="col-9" id="user-agent-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Trace Identifier: </label>
                            <span class="col-9" id="trace-identifier-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">App Version: </label>
                            <span class="col-9" id="app-version-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Created: </label>
                            <span class="col-9" id="created-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Object Metadata: </label>
                            <span class="col-9" id="object-metadata-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Subject Metadata: </label>
                            <span class="col-9" id="subject-metadata-container"></span>
                        </div>
                        <div class="row">
                            <label class="col-3 font-weight-bold">Metadata: </label>
                            <span class="col-9" id="metadata-container"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->
<!--#region comment modal-->
<div id="audit-comments-modal" class="modal fade bd-example-modal-lg" role="dialog" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Audit Comments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body audit-comment-modal-body">

                @await Component.InvokeAsync("AdminUIStatusMessage")

                <div id="add-audit-comment-form">
                    <div class="d-flex">
                        <label for="object-identifier-select" class="control-label">Add a comment</label>
                    </div>
                    <div class="form-group comment-text-area">
                        <textarea class="form-control vertical-textarea" rows="5" placeholder="Your message"></textarea>
                        <span class="text-danger error"></span>
                        <button type="button" class="btn btn-primary p-2 d-flex ml-auto submit-button comment-submit-button">Submit comment</button>
                    </div>
                </div>

                <label class="comments-label">Comments</label>
                <div id="audit-comment-loader">
                    @await Component.InvokeAsync("AdminUIDotLoader")
                </div>
                <div id="audit-comment-container" class="comment-container">

                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion-->


<div id="status-alert-container">
    @await Component.InvokeAsync("IdentityStatusAlertJs")
</div>

@section style {
    <link rel="stylesheet" href="~/adminUI/app/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminUI/app/lib/jjsonviewer-master/css/jjsonviewer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminUI/app/lib/daterangepicker-3.1/daterangepicker.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/adminUI/app/lib/select2-4.0.13/dist/css/select2.min.css" asp-append-version="true" />

    <style>
        .audit-modal-body {
            padding: 0px;
            max-height: 70vh;
            overflow: auto;
            margin-bottom: 30px;
        }

        #audit-details-modal .modal-header,
        #audit-comments-modal .modal-header {
            padding-left: 35px;
        }

            #audit-details-modal .modal-header .modal-title,
            #audit-comments-modal .modal-header .modal-title {
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: #008fef;
            }

        .comment-body h4 {
            color: #008fef;
            font-size: 14px;
            font-weight: bold;
        }

        #audit-comments-modal .audit-comment-modal-body {
            padding: 25px 35px;
        }

        .comment-submit-button {
            margin-top: 1em;
            min-width: 200px;
            justify-content: center;
        }

        #add-audit-comment-form label {
            font-weight: bold;
        }

        #audit-data-container .row {
            margin: 0px;
            padding: 15px 20px;
            border-top: solid 1px #e7e7e7;
            align-items: flex-start;
        }

        .comments-label {
            font-weight: bold;
            padding-bottom: 10px;
        }

        .jjson-container, .jjson-container ul {
            word-break: break-word;
            list-style-type: none !important;
            padding: 0px;
            margin: 0px;
        }

            .jjson-container .expanded {
                display: none;
            }

        #audit-data-container .row label {
            margin: 0px;
        }
        /* my style end*/
        .height-1 {
            height: 1em;
        }

        .line-height-02 {
            line-height: 0.2
        }

        .select2-selection.select2-selection--single {
            border-radius: 2px;
            border: 1px solid #c9c8c8;
        }

        .comment-container {
            overflow: auto;
            max-height: 50vh;
            margin-bottom: 30px;
            padding-right: 10px;
        }



        table.dataTable thead .sorting,
        table.dataTable thead .sorting_asc,
        table.dataTable thead .sorting_desc,
        table.dataTable thead .sorting_asc_disabled,
        table.dataTable thead .sorting_desc_disabled {
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center right;
        }

        table.dataTable thead th {
            position: relative;
            background-image: none !important;
        }

            table.dataTable thead th.sorting:after,
            table.dataTable thead th.sorting_asc:after,
            table.dataTable thead th.sorting_desc:after {
                position: absolute;
                top: 12px;
                right: 8px;
                display: block;
                font-family: "Font Awesome 5 Free";
            }

            table.dataTable thead th.sorting:after {
                content: "\f0dc";
                color: #ddd;
                font-size: 0.8em;
                padding-top: 0.12em;
            }

            table.dataTable thead th.sorting_asc:after {
                content: "\f0de";
            }

            table.dataTable thead th.sorting_desc:after {
                content: "\f0dd";
            }

        .comment-container {
            overflow: auto;
            max-height: 50vh;
            margin-bottom: 30px;
            padding-right: 10px;
        }

        .comment-body {
            border-top: 1px solid #f2f2f2;
            padding: 25px 0;
            margin: 0;
        }

            .comment-body p {
                margin-bottom: 0px;
                text-align: justify;
            }

        .comment-created {
            color: #666666;
            font-size: 10px;
            margin-right: 10px;
        }



        .no-comments {
            text-align: left;
            padding-top: 5px;
            color: #8f8f8f;
        }
    </style>
}

@section script {
    <script type="text/javascript" src="~/adminUI/app/js/utils/Api.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/lib/select2-4.0.13/dist/js/select2.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/lib/datatables/datatables.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/lib/jjsonviewer-master/js/jjsonviewer.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/lib/moment/moment.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/lib/daterangepicker-3.1/daterangepicker.js" asp-append-version="true"></script>

    <script type="text/javascript" src="~/adminUI/app/js/components/range-picker.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/identityAdmin/app/audit/audit-group-admin.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/js/components/dot-loader.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/js/components/text-area-component.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/adminUI/app/js/components/status-message.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {
            new AuditGroupAdmin('@Model.GroupId', @Json.Serialize(Model.ActionTypes), @Json.Serialize(Model.SubjectTypes));
        });

    </script>
}
