@model SSRD.AdminUI.Template.Views.Shared.Components.AdminUIDotLoader.AdminUIDotLoaderViewComponent.ViewModel

<div class='dot-loader-holder @(Model.ShowLoader ? "" : "dot-loader-hidden")'>
    <div class="dot-loader">Loading...</div>
</div>