<div class="modal-body-status">
    <p class="main-error-text text-danger error-title"></p>
    <p class="main-error-text text-warning warning-title"></p>
    <p class="main-error-text text-success success-title"></p>

    <p class="error-message-text status-body"></p>
</div>