<div id="snackbar" class="snackbar">
        <div class="alert-success mb-3 pl-3 pb-3 pt-3 no-margin" style="display: none"><div class="alertMessage" style="width: 80%;display: inline-block;"></div> <button type="button" class="close mr-3" data-dismiss="alert" aria-hidden="true">&times;</button></div>
        <div class="alert-danger mb-3 pl-3 pb-3 pt-3 no-margin" style="display: none"><div class="alertMessage" style="width: 80%;display: inline-block;"></div> <button type="button" class="close mr-3" data-dismiss="alert" aria-hidden="true">&times;</button></div>
</div>